{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="projects">
        <div class="container">
          <h3>{{ .Site.Data.projects.name }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              {{ range .Site.Data.projects.source }}
              <div class="project">
                <div class="project-title">
                  <i class="{{ .icon }}"></i>&nbsp;&nbsp;
                  <strong>
                    {{ if .url }}
                      <a href="{{ .url }}">{{ .title }}</a>
                    {{ else }}
                      {{ .title }}
                    {{ end }}
                  </strong>
                </div>
                <div class="project-description">{{ .description }}</div>
                <div class="project-tech">Built with: {{ .tech }}</div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
