{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <section id="talks">
        <div class="container">
          <h3>{{ .Site.Data.talks.name }}</h3>
          <div class="page">
            <div class="projects">
              {{ range .Site.Data.talks.source }}
              <div class="project">
                <div class="project-title">
                  <i class="{{ .icon }}"></i>&nbsp;&nbsp;
                  <strong>
                    {{ if .url }}
                      <a href="{{ .url }}">{{ .title }}</a>
                    {{ else }}
                      {{ .title }}
                    {{ end }}
                  </strong>
                </div>
                <div class="project-description">{{ .description }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
