{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <section id="talks">
        <div class="container">
          <h3>{{ .Site.Data.talks.name }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              {{ range Site.Data.talks.source }}
              <div class="talk">
                <i class="{{ .icon }}"></i>&nbsp;&nbsp;
                <strong><a href="{{ .url }}">{{ $el.title }}</a></strong>&nbsp;-&nbsp;{{ .description }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
